* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    /* .range{
       background: #3563E9;

    } */
}